@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1596619436442'); /* IE9 */
  src: url('iconfont.eot?t=1596619436442#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABmQAAAI/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgpMYwE2AiQDDAsIAAQgBYRtB0AbqwXILrBt2JMSNdHAQlwOfb8fAAeIh6/9fufu7nvfMEmQRCNRdDqJZI1k072SoOl0SqQTKt1L+NvPvRmxq875shyy+mhLeQVOMzo/p8n4CrlpTmbW+kLLTSyoLJ/ncnpjchbND5TjWss2HvUCjAMKbE+MIiuhjHuIV9tBdfkxgbZJupmd89sRLCucVYE4SWMflks5RZGaTaFuOVjEg0oz3SXAffz9+OfGMkmVORt3j88iOPzydb7t3toPCXkCHq+QsQQUYq+1tmtOSLI57dq8KXCsWcHX3S5fwoA4qjwRf53X2gPm0JqeSO97xaPp8YgEMqjLjR6MM3bkqhB1fa7ivdE43J9ODug20Ryx/4rBu7jRaxp4bEq6mH2E9IG/CARvOdpaeblTwGevga+gO5o7igc/RU8cKKbR8eei63ydnchqQjWhbSZ1Oakhn9Mdo+ROQtPohETDRI6saYos7BIqHcuoNa2jbdHF8Y5hbE6UFhY8A8KAFyR93pEN6MnCfqAy5h+1gZhD214MX9gxE+nqNpMvFGHwhGlYV8oLymrSPqD4rvC5aIwVE+IuLaJj2tXmBVXES2zp7mNXRKHiusRzeI6KosaG64xCMRORZtuyVNubzLAuYdU2RnyCRFDgCUqFahUVjhartc8PkNidgo97JA3tCcI66eTIYbIJ5IWtIkke5ZXOvZhLCAUprFZC5zCPFAo11LTPy5CQMCUTKo1tljtMUW3m9o7y/45Bm9OfI0WOovXoeUOo+yhdGnUAAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1596619436442') format('woff'),
  url('iconfont.ttf?t=1596619436442') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1596619436442#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e658";
}

.icon-icon-test1:before {
  content: "\e659";
}

